   body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    color: white;
    flex-direction: column;
    gap: 100px;
}

table {
    border-radius: 10px;
    font-family: cursive;
    font-weight: 600;
    border: 1px solid white;
    text-shadow: 0px 0px 10px wheat;
    
}

tr {
    border: 1px solid white;
}

td {
    border: 1px solid white;
}

div {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

button, input {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    width: 80%;
    transition: 0.4s;
    text-shadow: 0px 0px 10px wheat;
}

button {
    cursor: pointer;
}

button:hover, input:focus {
    outline: none;
    border: 1px solid wheat;
    transform: scale(1.05);
}

form {
    width: 800px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
.edit
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete
{
    display: flex;
    align-items: center;
    justify-content: center;
}
